In [42]:
import pandas as pd

url = 'muertes.xlsx'
xls = pd.read_excel(url, sheet_name = 'Sheet1')

print(xls.keys())

print(xls)

Index(['sex', 'deathDate', 'region', 'ageRange'], dtype='object')
      sex  deathDate    region  ageRange
0    Male 2020-03-17     Metro  50 to 54
1  Female 2020-03-19     Metro  50 to 54
2    Male 2020-03-21  Mayaguez  65 to 69
3  Female 2022-03-21       NaN  65 to 69
4    Male 2020-03-22       NaN  70 to 74
5  Female 2020-03-22     Metro  80 to 74

In [43]:
metro = xls[xls['region'] == 'Metro']
print(metro)

      sex  deathDate region  ageRange
0    Male 2020-03-17  Metro  50 to 54
1  Female 2020-03-19  Metro  50 to 54
5  Female 2020-03-22  Metro  80 to 74

In [44]:
metro.loc[metro.region == 'Metro', 'region'] = 'NaN'
print(metro)

      sex  deathDate region  ageRange
0    Male 2020-03-17    NaN  50 to 54
1  Female 2020-03-19    NaN  50 to 54
5  Female 2020-03-22    NaN  80 to 74

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [45]:
print(xls.append(metro))

      sex  deathDate    region  ageRange
0    Male 2020-03-17     Metro  50 to 54
1  Female 2020-03-19     Metro  50 to 54
2    Male 2020-03-21  Mayaguez  65 to 69
3  Female 2022-03-21       NaN  65 to 69
4    Male 2020-03-22       NaN  70 to 74
5  Female 2020-03-22     Metro  80 to 74
0    Male 2020-03-17       NaN  50 to 54
1  Female 2020-03-19       NaN  50 to 54
5  Female 2020-03-22       NaN  80 to 74

In [46]:
##frames = [xls, metro]
##result = pd.concat(frames)
##result
##result['deathDate'].as
##print(result)

In [47]:
pueblos = ['Carolina', 'San Juan', 'Guaynabo', 'LoÃza', 'Trujillo Alto', 'CanÃ³vanas']
categorias = ['0 to 29', '30 to 39', '40 to 49', '50 to 59', '60 to 69', '70 to 79', '80+']

data = {'region': [], 'ageRange':[], 'cases':[]}

for pueblo in pueblos:
        for categoria in categorias:
                data['region'].append(pueblo)
                data['ageRange'].append(categoria)
                data['cases'].append(None)

#data = {'region': [pueblo for pueblo in pueblos],
#        'ageRange': [categoria for categoria in categorias],
#        'cases': [None for pueblo in pueblos]
#        }
print(data)
df = pd.DataFrame(data)
print(df)

{'region': ['Carolina', 'Carolina', 'Carolina', 'Carolina', 'Carolina', 'Carolina', 'Carolina', 'San Juan', 'San Juan', 'San Juan', 'San Juan', 'San Juan', 'San Juan', 'San Juan', 'Guaynabo', 'Guaynabo', 'Guaynabo', 'Guaynabo', 'Guaynabo', 'Guaynabo', 'Guaynabo', 'LoÃza', 'LoÃza', 'LoÃza', 'LoÃza', 'LoÃza', 'LoÃza', 'LoÃza', 'Trujillo Alto', 'Trujillo Alto', 'Trujillo Alto', 'Trujillo Alto', 'Trujillo Alto', 'Trujillo Alto', 'Trujillo Alto', 'CanÃ³vanas', 'CanÃ³vanas', 'CanÃ³vanas', 'CanÃ³vanas', 'CanÃ³vanas', 'CanÃ³vanas', 'CanÃ³vanas'], 'ageRange': ['0 to 29', '30 to 39', '40 to 49', '50 to 59', '60 to 69', '70 to 79', '80+', '0 to 29', '30 to 39', '40 to 49', '50 to 59', '60 to 69', '70 to 79', '80+', '0 to 29', '30 to 39', '40 to 49', '50 to 59', '60 to 69', '70 to 79', '80+', '0 to 29', '30 to 39', '40 to 49', '50 to 59', '60 to 69', '70 to 79', '80+', '0 to 29', '30 to 39', '40 to 49', '50 to 59', '60 to 69', '70 to 79', '80+', '0 to 29', '30 to 39', '40 to 49', '50 to 59', '60 to 69', '70 to 79', '80+'], 'cases': [None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]}
           region  ageRange cases
0        Carolina   0 to 29  None
1        Carolina  30 to 39  None
2        Carolina  40 to 49  None
3        Carolina  50 to 59  None
4        Carolina  60 to 69  None
5        Carolina  70 to 79  None
6        Carolina       80+  None
7        San Juan   0 to 29  None
8        San Juan  30 to 39  None
9        San Juan  40 to 49  None
10       San Juan  50 to 59  None
11       San Juan  60 to 69  None
12       San Juan  70 to 79  None
13       San Juan       80+  None
14       Guaynabo   0 to 29  None
15       Guaynabo  30 to 39  None
16       Guaynabo  40 to 49  None
17       Guaynabo  50 to 59  None
18       Guaynabo  60 to 69  None
19       Guaynabo  70 to 79  None
20       Guaynabo       80+  None
21          LoÃza   0 to 29  None
22          LoÃza  30 to 39  None
23          LoÃza  40 to 49  None
24          LoÃza  50 to 59  None
25          LoÃza  60 to 69  None
26          LoÃza  70 to 79  None
27          LoÃza       80+  None
28  Trujillo Alto   0 to 29  None
29  Trujillo Alto  30 to 39  None
30  Trujillo Alto  40 to 49  None
31  Trujillo Alto  50 to 59  None
32  Trujillo Alto  60 to 69  None
33  Trujillo Alto  70 to 79  None
34  Trujillo Alto       80+  None
35     CanÃ³vanas   0 to 29  None
36     CanÃ³vanas  30 to 39  None
37     CanÃ³vanas  40 to 49  None
38     CanÃ³vanas  50 to 59  None
39     CanÃ³vanas  60 to 69  None
40     CanÃ³vanas  70 to 79  None
41     CanÃ³vanas       80+  None

In [48]:
url = 'cases1 2.xlsx'
xls = pd.read_excel(url)

print(xls)

      region  ageRange  cases
0    Arecibo   0 to 29  15864
1    Arecibo  30 to 39   7016
2    Arecibo  40 to 49   6491
3    Arecibo  50 to 59   5328
4    Arecibo  60 to 69   3418
5    Arecibo  70 to 79   2177
6    Arecibo       80+   1051
7    Arecibo       NaN     25
8    Bayamon   0 to 29  26801
9    Bayamon  30 to 39  12502
10   Bayamon  40 to 49  11393
11   Bayamon  50 to 59   9621
12   Bayamon  60 to 69   5884
13   Bayamon  70 to 79   3135
14   Bayamon       80+   1597
15   Bayamon       NaN     44
16    Caguas   0 to 29  22038
17    Caguas  30 to 39   9830
18    Caguas  40 to 49   9662
19    Caguas  50 to 59   7567
20    Caguas  60 to 69   4554
21    Caguas  70 to 79   2573
22    Caguas       80+   1277
23    Caguas       NaN     58
24   Fajardo   0 to 29   1507
25   Fajardo  30 to 39    651
26   Fajardo  40 to 49    715
27   Fajardo  50 to 59    589
28   Fajardo  60 to 69    313
29   Fajardo  70 to 79    207
30   Fajardo       80+     93
31   Fajardo       NaN      0
32  Mayaguez   0 to 29  11212
33  Mayaguez  30 to 39   4603
34  Mayaguez  40 to 49   5164
35  Mayaguez  50 to 59   4073
36  Mayaguez  60 to 69   2730
37  Mayaguez  70 to 79   1806
38  Mayaguez       80+    837
39  Mayaguez       NaN     21
40     Metro   0 to 29  37497
41     Metro  30 to 39  18483
42     Metro  40 to 49  16899
43     Metro  50 to 59  14308
44     Metro  60 to 69   8475
45     Metro  70 to 79   4823
46     Metro       80+   2602
47     Metro       NaN     63
48     Ponce   0 to 29  13575
49     Ponce  30 to 39   5770
50     Ponce  40 to 49   5656
51     Ponce  50 to 59   4609
52     Ponce  60 to 69   2650
53     Ponce  70 to 79   1622
54     Ponce       80+    767
55     Ponce       NaN     35

In [52]:
pd.set_option('display.max_rows', None)
frames = [xls, df]
result = pd.concat(frames)
sorted = result.sort_values(by='region')
sorted

           region  ageRange  cases
0         Arecibo   0 to 29  15864
1         Arecibo  30 to 39   7016
2         Arecibo  40 to 49   6491
3         Arecibo  50 to 59   5328
4         Arecibo  60 to 69   3418
5         Arecibo  70 to 79   2177
6         Arecibo       80+   1051
7         Arecibo       NaN     25
15        Bayamon       NaN     44
13        Bayamon  70 to 79   3135
12        Bayamon  60 to 69   5884
14        Bayamon       80+   1597
10        Bayamon  40 to 49  11393
9         Bayamon  30 to 39  12502
8         Bayamon   0 to 29  26801
11        Bayamon  50 to 59   9621
23         Caguas       NaN     58
22         Caguas       80+   1277
21         Caguas  70 to 79   2573
20         Caguas  60 to 69   4554
18         Caguas  40 to 49   9662
17         Caguas  30 to 39   9830
16         Caguas   0 to 29  22038
19         Caguas  50 to 59   7567
35     CanÃ³vanas   0 to 29   None
39     CanÃ³vanas  60 to 69   None
38     CanÃ³vanas  50 to 59   None
37     CanÃ³vanas  40 to 49   None
36     CanÃ³vanas  30 to 39   None
40     CanÃ³vanas  70 to 79   None
41     CanÃ³vanas       80+   None
6        Carolina       80+   None
5        Carolina  70 to 79   None
4        Carolina  60 to 69   None
3        Carolina  50 to 59   None
2        Carolina  40 to 49   None
1        Carolina  30 to 39   None
0        Carolina   0 to 29   None
31        Fajardo       NaN      0
30        Fajardo       80+     93
27        Fajardo  50 to 59    589
26        Fajardo  40 to 49    715
25        Fajardo  30 to 39    651
24        Fajardo   0 to 29   1507
29        Fajardo  70 to 79    207
28        Fajardo  60 to 69    313
19       Guaynabo  70 to 79   None
17       Guaynabo  50 to 59   None
16       Guaynabo  40 to 49   None
15       Guaynabo  30 to 39   None
14       Guaynabo   0 to 29   None
20       Guaynabo       80+   None
18       Guaynabo  60 to 69   None
21          LoÃza   0 to 29   None
27          LoÃza       80+   None
26          LoÃza  70 to 79   None
22          LoÃza  30 to 39   None
23          LoÃza  40 to 49   None
24          LoÃza  50 to 59   None
25          LoÃza  60 to 69   None
32       Mayaguez   0 to 29  11212
33       Mayaguez  30 to 39   4603
35       Mayaguez  50 to 59   4073
36       Mayaguez  60 to 69   2730
37       Mayaguez  70 to 79   1806
38       Mayaguez       80+    837
39       Mayaguez       NaN     21
34       Mayaguez  40 to 49   5164
45          Metro  70 to 79   4823
40          Metro   0 to 29  37497
41          Metro  30 to 39  18483
42          Metro  40 to 49  16899
43          Metro  50 to 59  14308
44          Metro  60 to 69   8475
47          Metro       NaN     63
46          Metro       80+   2602
48          Ponce   0 to 29  13575
49          Ponce  30 to 39   5770
50          Ponce  40 to 49   5656
51          Ponce  50 to 59   4609
52          Ponce  60 to 69   2650
55          Ponce       NaN     35
54          Ponce       80+    767
53          Ponce  70 to 79   1622
12       San Juan  70 to 79   None
13       San Juan       80+   None
8        San Juan  30 to 39   None
7        San Juan   0 to 29   None
9        San Juan  40 to 49   None
10       San Juan  50 to 59   None
11       San Juan  60 to 69   None
29  Trujillo Alto  30 to 39   None
32  Trujillo Alto  60 to 69   None
33  Trujillo Alto  70 to 79   None
34  Trujillo Alto       80+   None
28  Trujillo Alto   0 to 29   None
30  Trujillo Alto  40 to 49   None
31  Trujillo Alto  50 to 59   None